<header class="main-header">
  <nav class="main-header__nav">
      <ul class="main-header__item-list">
          <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Descriptive Methods</a></li>
          <li class="main-header__item"><a class="<%= path === '/predictive' ? 'active' : '' %>" href="/predictive">Predictive Method</a></li>
          <li class="main-header__item"><a class="<%= path === '/predictions' ? 'active' : '' %>" href="/predictions">Predictions</a></li>
      </ul>
  </nav>
</header>