<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <script src="https://d3js.org/d3.v7.min.js" defer></script>
    <script src="https://d3js.org/d3-scale.v3.min.js" defer></script>
    <script src="https://d3js.org/d3-axis.v1.min.js" defer></script>
    <script src="js/index.js" defer></script>

    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/data.css" />
  </head>

  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a class="active" href="/">Home</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1 class="headers">Antique Car Database</h1>
      <form class="input-form" action="/input" method="POST">
        <div class="form-control">
          <label class="label" for="horsepower">Horsepower</label>
          <input type="number" name="horsepower" id="horsepower" />
          <label class="label" for="displacement">Displacement</label>
          <input type="number" name="displacement" id="displacement" />
          <label class="label" for="weight">Weight</label>
          <input type="number" name="weight" id="weight" />
        </div>

        <button type="submit">Make Prediction</button>
      </form>
    </main>

    <!--

  <svg></svg>

    <ul id="d3"></ul>

-->
    
    <div id="app">
      <div id="chart">
        <h2 class="headers">Count of Top 10 Most Popular Car Makes in Dataset</h2>
        <svg></svg>
      </div>
      <div id="data">
        <ul></ul>
      </div>
    </div>


  <svg class="pie" id="chart" width="500" height="400"></svg>

  </body>
</html> 

