<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Descriptive Methods</title>
    <script src="https://d3js.org/d3.v7.min.js" defer></script>
    <script src="https://d3js.org/d3-scale.v3.min.js" defer></script>
    <script src="https://d3js.org/d3-axis.v1.min.js" defer></script>
    <script src="js/index.js" defer></script>

    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/data.css" />
  </head>

  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a class="active" href="/">Descriptive Methods</a>
          </li>
          <li class="main-header__item">
            <a href="/predictive">Predictive Method</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 class="headers">Descriptive Methods for Retro Cars</h1>
      <p>
        The descriptive methods shown below come from a dataset of 392 cars. The
        cars are mainly from the 1970s and early 1980s. If you would like to
        take a closer look at the data, the CSV file can be <a href="data/cars.csv">downloaded here</a>.
      </p>
      <div id="app">
        <div id="chart">
          <h2 class="headers">
            Count of Top 10 Most Popular Car Makes in Dataset
          </h2>
          <svg></svg>
        </div>
      </div>

      <hr />
      <div id="app">
        <div id="chart">
          <svg class="pie" width="500" height="400"></svg>
        </div>
      </div>

      <hr />

      <div id="app">
        <div id="chart">
          <div class="scatter"></div>
        </div>
      </div>
    </main>
  </body>
</html>
