.input-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 60%;
    margin: auto;
}

.form-control input {
    border: 1px solid #000000;
    font: inherit;
    border-radius: 2px;
    margin-bottom: 20px;
}

.label {
    text-align: center;
}

.headers {
    text-align: center;
    display: block;
    margin: auto;
    width: 50%;
}

/* d3 charts */

#app {
    display: flex;
    margin: 2rem 1rem;
    width: auto;
}

#chart {
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
padding: 1rem;
margin: auto;
display: block;
width: auto;
}

.bar {
fill: #00695c;
}

.label {
fill: #00695c;
}

/* pie-chart */
.arc text{
	font: 10px sans-serif;
	text-anchor: middle;
}
.arc path{
	stroke: white;
}
.title{
	fill: black;
	font-weight: bold;
	font-size: 20px;
}

button {
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
    margin: auto;
    display: block;
}

button:hover,
button:active {
    background-color: #00695c;
    color: white;
}

